/*DEMO STYLES*/
@charset "utf-8";

body{
	
}

.clear{
	clear: both;
}

#demo-details a{
	color: white;
}
#demo-details a:hover{
	text-decoration: none;
}

#demo-details .no-underline{
	text-decoration: none;
}

#demo-details{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.7);
	font-family: 'Play', sans-serif !important;
	left: 0;
	min-width: 960px;
	position: fixed;
	width: 100%;	
	z-index: 1000;
	color: white;
	font-size: 1.2em;
	padding: 10px 0 5px 0;
	overflow: auto;
}

#demo-details li{
	vertical-align: middle;
}

#demo-details h1{
	font-size: 18px;
}

#share{
	float: right;
	line-height: 200%;
	list-style: none;
	margin: 0 40px 0 0;
	text-align: right;
	width: 390px;	
}

.logo-small{
	padding: 0 5px;
	vertical-align: middle;
}

.facebook{
	padding: 7px 0 0 0;	
}

.twitter{
	padding: 6px 0 0 0;	
}

.hire{
	font-size: 12px;
	padding: 5px 0 0 0;
}

.hire p{
	width: 170px;
}

.hire span{
	float: left;
	margin-top: -2px;
}

.hire img{
	float: right;
}

.hire a{
	padding: 0 0 0 5px;
}

#share li{
	vertical-align: top;
}

#demo-details li{
	display: inline-block;
	margin: 0 10px 0 0;
}

.medium{
	line-height: 1.4em;
	margin: 20px;
	width: 600px;	
}

/*.bottom{
	bottom: 0;	
}*/

.top{
	top: 0;	
}

#demo-links{
	float: left;
	font-size: 18px !important;
	font-weight: 200;
	margin: 5px 0 0 20px;
	width: 450px;
}

#demo-links ul{
	font-family: 'Play', sans-serif !important;
	font-size: 18px;
	line-height: 150%;
	margin: 0;
	padding: 0;	
}




#main{
	border-top: #333 solid 3px;
	margin: 0 auto;
	padding: 40px 0 0 0;
	width: 960px;
}

#content p{
	margin: 0 0 20px 0;
}

#content #product-links{
	margin: 0 0 40px 0;
	padding: 0;
}

#content #product-links li{
	display: inline-block;
	margin: 0 20px 0 0;
}

#content{
	float: left;
	line-height: 1.6em;
	margin: 0 60px 0 0;
	width: 580px;
}

#aside{
	float: right;
	width: 320px;
}

#aside small{
	font-size: 12px;
}

#aside .features{
	font-family: tahoma;
	font-size: 14px;
}

#content h3{
	font-size: 30px;
	font-weight: bold;
	margin: 15px 0 20px 0;
}

#main ul{
	line-height: 1.4em;
	list-style: disc;
	margin: 20px 0;
	padding: 0 0 0 20px;
}

#aside small{
	padding: 40px 0;
}

code{
	color: #4885D5;
	font-size: 0.8em !important;
	word-wrap: break-word;
}

pre{
	line-height: 1.4em !important;
}

p code{
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

pre{
	background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 20px 0 !important;
	padding: 10px 10px 15px 10px !important;
}

.additional{
	height: 250px;
	overflow-x: scroll;
}

ol{
	font-size: 0.9em !important;
	list-style-type: lower-roman !important;
	margin: 0 0 0 20px !important;
}

#footer {
	margin: 120px 0 0 0;
	position: relative;
}

#footer ul {
	position: absolute;
	bottom: 0;
	margin: 0;
	right: 0;
	line-height: 1em;
}

#footer li {
	display: inline-block;
}

.twitter-follow-button {
	clear: both;
	float: right;
	font-family: Tahoma;
	font-size: 0.8em;
	line-height: 2em;
	width: 140px !important;
}

#footer small{
	font-size: 0.8em;
	line-height: 1.6em;
	margin-top: 27px;
	position: absolute;
	bottom: 0;
}

/*!DEMO STYLES*/