@media(max-width: 640px)
{

  .address-main .nav-tabs>li>a
  {padding: 10px;}
  .user-address .timeline
  {display: block;}
  .howItWorks article.blogpost:before
  {display: none;}
  .formbtn, .subfix
  {width: auto;font-size: 15px;}

  .breadcrumb-arrow li a
  {font-size: 10px;}
.rightlo
{
float: left;}
#pav-mainnav
{position: relative;}
h1
{font-size: 14px;}
.banner-txt a.anchor {
line-height: auto;
line-height: 20px;
font-size: 12px;
}
.banner-txt h1.sub-title {
margin-bottom: 10px;
}
.more
{position: static;margin-top: 20px;
	display: inline-block;}


	.footer_logo_area 
	{text-align: center;width: 100%;}

	.swiper-pr-container img
	{width: 100%:;
		height: auto;}
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}


@media only screen and (max-width: 1023px)
{
.we-are-best .text-side {
    background: #202e31;
    padding: 30px 15px;
}

.we-are-best .text-side, .we-are-best .image-side {
    float: none !important;
    width: 100% !important;
    text-align: center !important;
}

.we-are-best:after {
  content: '';
  position: static;
  right: 0px;
  top: 0px;
  width: 54%;
  height: 100%;
  background: #202e31;
  z-index: 2;
  right: -5%;
  transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
}}


@media screen and (min-width: 641px)
{

.user-address table .address_th_list {
    width: 5%;
    text-align: center;
    color: #6CBAD8;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.user-address table .user-th {
        width: 20%;
    border-right: 1px solid #ddd;
}
 
 .user-address table th , .user-address table td
 {padding:10px;}

.user-address table .address_table_category {
    border-right: 1px solid #ddd;
}
}

@media screen and (max-width: 640px)
{
.user-address table .address_table_content {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #d9edf5;display: block;
    }

    .user-address table .address_table_category {
    display: none;
}
.user-address table .address_th_list {
    width: 2%;
    border-bottom: 1px solid #ddd;    background-color: #f3f3f3;}

    .user-address table th
    {padding: 10px;}


.user-address table td {
    padding: 20px;}
.user-address table .user-th {
    padding-left: 0;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
}
.user-address table, .user-address tbody, .user-address tr, .user-address td, .user-address thead, .user-address .address_table_content
{display: block;}

.info h2
{font-size: 30px;}
}


@media screen and (max-width:768px)
{
  #slideshow,#header
  {min-width: 100% !important;}

  body
  {max-width: 100% !important;}

  .info h2
{font-size: 30px;}

}