#pav-mainnav
{background-color: transparent ;
}

.fixnav
{background-color: #ffffff !important ;}

.forhome .navbar-default{background: transparent !important;}

 .forhome .navbar-default .navbar-nav>li>a
{color: #ffffff;text-transform: uppercase;
font-size: 16px;
font-weight: bold;}
 .forhome .rightlo a
 {border: 1px solid #ffffff;
    color: #ffffff;
}


.forhome .fixNav .navbar-default{background: ffffff !important;}

.fixNav {background: #ffffff !important;}

 .forhome .fixNav .navbar-default .navbar-nav>li>a
{color: #000000;text-transform: uppercase;
font-size: 16px;}
 .forhome .fixNav .rightlo a
 {border: 1px solid #000000;
    color: #000000;
} 
.popover-content a
{color: #000000 !important;}
.howtoti,.steps,.youcancount  
{background-color: #ffffff;}
body{
	background: #fff;	
	font-family: 'Didact Gothic', sans-serif;
    
}
*{
	margin: 0;
	padding: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a:hover, img{
	outline:none;
	text-decoration: none;
}
a, a:hover, a:focus
{ outline:none;
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
text-decoration:none;}


p{

	margin: 0;
	font-size: 16px;
	color: #5f5f5f;
}
img{
	max-width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5{
	font-family: font-family: 'Raleway', sans-serif;
    font-weight: 600;
	font-weight: bold;/*text-align: center;*/
	
}
h1{
	color: #fafafa;
	font-size: 50px;
}
h2{
	font-size: 24px;
	color: #666;
	margin-bottom: 15px;

}
h3{
	font-size:18px;
	color:#ffffff;
	line-height: 24px;
}
h4{
	font-size: 18px;
	/*color: #ffffff;*/
}
h5{
	font-size:16px;
	color:#ffffff;
}

.tooltip{
	font-family: 'Nobile', sans-serif;
}
.banner-txt h1.sub-title {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}
.banner-txt {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.banner-txt a.anchor {

    line-height: 52px;
    color: #fff;
   
    text-align: center;
    display: inline-block;
    font-weight: bold;
   
    font-size: 25px;
}

.overlayb::before {
        background: rgb(0, 0, 0) none repeat scroll 0 0 !important;
    bottom: 0;
    content: "";
    display: block;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transition: all 0.6s ease 0s;
    width: 100%;
    z-index: 4;}
 

.pr_area .swiper-button-next, .pr_area .swiper-button-prev  {
  background-color: rgba(255, 255, 255, 0.8);
  height: 170px !important;
  margin-top: 0 !important;
  top: 0 !important;
  right: 0 !important;
  width: calc((100% - 793px) * 0.5) !important;
}
 .swiper-button-next{right:  0 !important;}

 .swiper-button-prev{ left: 0 !important;}

.swiper-pr-container img {
    width: 800px;
    height: 170px;
    margin-bottom: .5rem;
}

.swiper-pr-container {
/*  margin: auto;
  max-width: 1280px;
  width: 800px;*/
}
#step3 .step_box, #step3 .step_box .inner, .pr_area, .pr_area .swiper-pagination {
  position: relative;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -4px !important;
 }
/*.pr_area
{overflow: hidden;}*/

/*.swiper-slide
{width: 600px !important;}*/



.swiper-slide-active img {
 /*   width: 800px !important ;
    height: 170px;
    margin-bottom: 0.5rem;*/
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
/*how to use homepage section */
.border-r
{border-right:1px solid #ccc;}
.howto h2, .howto h4
{margin: 0px 0px 30px 0px;
font-weight: 400;}
 .customer_voice .icon_step_customer {
  float: left;
  height: 50px;
  width: 50px;
}

 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
 
 .customer_voice p {
  background-color: #1288c1;
  border-radius: 0 20px 20px;
  color: #fff;
  float: right;
  font-size: 16px;
  margin: 0;
  padding: 0.5rem 1rem;
  width: calc(100% - 50px - 10px);
}

.office_voice .from_office img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    float: right;
}

 .office_voice .from_office .voice {
    padding: .5rem 1rem;
    border-radius: 20px 0 20px 20px;
    background-color: #DBD9FF;
    margin: 0;
     font-size: 16px;
    float: left;
   width: calc(100% - 50px - 10px);}
.from_office
{margin-top: 100px;}

.more
{
position: absolute;
    bottom: -40px;
    padding: 0;
    text-align: center;
    width: 80%;}

.more a
{display: inline-block;
    border: 1px solid #1288c1;
    border-radius: 4px;
    padding: .8rem 2.2rem;
    line-height: 1;
    text-align: center;
    color: #1288c1;
    background-color: transparent;
    -webkit-transition: .1s;
    transition: .1s;
    font-size: 18px;}
    .more a:hover
    {background-color: rgba(18, 136, 193, 0.1) !important;}

    .more i
    {padding-left: 10px;}

    .titletxt
    {    font-size: 20px;
    margin-bottom: 3rem;}

    .howto .col-md-4
    {position: relative;padding: 0 3rem 3rem ; }

    .navbar-default
    {border: none;
      background: #ffffff;}
.navbar-nav
{margin-top: 20px;}
      .navbar-nav > li > a
      { /*border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;*/
    color: #1288c1;
    display: block;
    font-size: 16px;
    padding: 12px 10px;
    transition: all 0.1s ease 0s;}
       .navbar-nav > li > a:hover
       { background-color: rgba(18, 136, 193, 0.1) !important;
    /*border-bottom: 3px solid #1288c1;*/
    height: auto;}

    .navbar
    {margin-bottom: 0;
      min-height: 45px;}

      .rightlo a
      {
        display: block;float: left;color:#777;
        border-radius: 5px ;
        border: 1px solid #1288c1;
        padding: 5px 13px;
        margin-right: 10px;}

        .rightlo{padding: 24px 10px;}

        .popover-content a
        {border: none;
          font-size: 9px !important;float: left;}

          .youcancount h2,.core_value h2,.customer_story h2, .howtoti h2
          {font-size: 30px;
    font-weight: 400;
    margin: 2rem 0;
    text-align: center;}

     .howtoti p
          {font-size: 20px;
    font-weight: 400;
   margin-bottom: 60px;
    text-align: center;}

/*story*/

    .customer_story
{clear: both;margin-top: 50px;}

.customer_story .swiper-slide .opening_inner {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 120px;
}
.customer_story .swiper-slide .opening_inner .slide_titles {
    text-align: center;color: #fff !important;
    
}
.customer_story  .swiper-slide .opening_inner .slide_titles h2 {
    font-weight: 400;
    font-size: 30px;color: #fff !important;
}
.customer_story  .swiper-slide .opening_inner .slide_titles p {
    font-weight: 400;
    font-size: 20px;color: #fff !important;
}
.customer_story .swiper-slide .opening_inner .slide_titles .user_face img {
    width: 100px;
    height: 100px;
}

.customer_story .swiper-slide .slide_inner {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
    background-color: rgba(255,255,255,.9);padding: 20px ;
    
}
.customer_story .swiper-slide .slide_inner p
{font-size: 20px;}

 .feature_number img
{    width: 80px;
    height: 80px;}
 .customer_story  .our_policy {
    display: inline-block;
    font-size: 24px;
    color: #999;
    margin-bottom: 1rem;
    vertical-align: middle;
    position: relative;
}

 .customer_story .feature .our_policy .feature_number {
    position: absolute;
    top: -30px;
    left: -90px;
    z-index: 2;
}
 .customer_story
 {text-align: center;}

 /*core */
.banner-box-col {
    position: relative;
}
 .banner-box-txt {
    background: rgba(75, 75, 75, 0.6);
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.box-txt {
    left: 50%;
    position: relative;
    top: 40%;
    text-align: center;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.banner-boxs
{margin:20px 0px;}
.box-txt h3
{font-size: 20px;
text-transform: uppercase;}

.box-txt p
{font-size: 18px;
color: #ffffff;}

.youcancount  li {
    display: inline-block;
    margin: 0px 1rem;
}

.youcancount li img {
    width: 200px;
    height: 200px;
}

.youcancount li span {
    margin-top: .5rem;
    display: block;
}
.youcancount ul
{text-align: center;}

.img-rounded{border-radius:93px !important;}

#results {
    background-color: #000;

    padding: 20px 0px;
    background-position: center;
    background-size: contain;
    height: 400px;
    position: relative;
}


#results::before {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

#results .wrap {
    z-index: 2;
    position: relative;
    padding-top: 1rem;
    text-align: center;
    color: #fff;
}

#results .wrap p {
    font-size: 23px;
    color: #ffffff;
}

.signup
{background-color: #f7f7f7;
    text-align: center;
    padding: 20px 0px;

   
    width: 100%;}


   .core_value {
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px 0px 51px 0px;
    width: 100%;
}

.signup h1
{color: #333;}


 .btn-lg{
 padding: 20px 32px;
 font-size: 20px;
 margin-top: 20px;
 margin: 20px;    
 }

 .footer_link_box i {
    /*font-size: 30px;*/
}

 .footer_link_box {
    position: relative;
    text-align: center;
   
}

#home_link_wrapper{padding: 60px 0px;}

 .footer_link_box .summary p {
    font-size: 14px;
  
}

.footer_link_box .summary{  padding-bottom: 20px;}


 .footer_link_box .tit {
    font-size: 18px;
 font-weight: 400;
 color: #ffffff;
}

.footer_link_box .sns_btn a {
    color: #3B5998;
}

.footer_link_common_wrapper {
    background-color: #e7e7e7;
padding:20px 0px;
}

.global_footer .footer_link_common_wrapper .footer_link_box .big_box {
    background-color: #000000;
    border: 1px solid #fc7b5e;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.footer_link_box .link:before {
    content: "\f101";
    font-family: FontAwesome;
    color: #1288c1;
}

.link_box_inner p
{color: #ffffff;}
.sprites-cards .cards-icon {
    background-image: url(../images/icon_all_payments.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprites-cards .cards-icon--min.paypal {
    background-position: left;
}

.sprites-cards .cards-icon--min {
    background-size: 272px 15px;
    height: 15px;
    width: 45px;
}

.sprites-cards .cards-icon--min.visa {
    background-position: -45px;
}

.sprites-cards .cards-icon--min.master {
    background-position: -90px;
}
.sprites-cards .cards-icon--min.amex {
    background-position: -135px;
}
.sprites-cards .cards-icon--min.jcb {
    background-position: -180px;
}

#home_link_wrapper i 
{font-size: 30px;}

.sns_btn a
{text-align: center;}
.footer_link_box .sns_btn {
    display: inline-block;
    margin: 10px 0.5rem;
}

 .footer_link_bottom_wrapper .link_box_inner li {
    display: inline-block;
}
 .footer_link_bottom_wrapper .link_box_inner li a {
    color: #fff !important;
    margin-right: .7em;
    padding-right: .7em;
    border-right: 1px solid #fff;
}
 .footer_link_bottom_wrapper {
    font-size: 14px;
    background-color: #171616;
    padding: 3rem 0;
    color: #fff;
}

/*to top*/
.top_button {
    background: #424242 none repeat scroll 0 0;
    border: 1px solid #424242;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    bottom: 45px;
    height: 34px;
    position: fixed;
    right: 45px;
    width: 34px;
    z-index: 95;
    font-size: 0;
}

.top_button:before {
    color: white;
    content: "\f106";
    font-family: fontawesome;
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 2px;
}

header.header-length {
    height: 80px;
}


@-webkit-keyframes fixedAnim{0%{top:-100%;}100%{top:0;}}
@-moz-keyframes fixedAnim{0%{top:-100%;}100%{top:0;}}
@keyframes fixedAnim{0%{top:-100%;}100%{top:0;}}

.fixNav {
    background: #fff;
    border-bottom: 2px solid #e9eaea;
    position: fixed;
    top: 0;
    
    width: 100%;
    z-index: 111111;
    transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s; 
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
}

.left-login
{padding: 20px 20px;background:rgb(248, 248, 248) none repeat scroll 0 0;text-align: center;}

.m-top
{margin-top: 40px;}

.btn-lag
{
    margin: 0px 0px 20px 0px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
   text-align: center;width: 300px;}

   .left-login a
   {padding: 20px 0px !important;}

.left-login i
{padding-left: 5px;}

.m-top
{margin-bottom: 20px;}
.right-login
{
    margin-left: 18px;
    background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,242,209,.65)),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,rgba(255,242,209,.65) 0,#fff 100%);
    background: linear-gradient(to bottom,rgba(255,242,209,.65) 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6fff2d1', endColorstr='#ffffff', GradientType=0 );
}

.right-login h2
{padding-top: 0;
margin-top: 0;
font-size: 16px;}


/*breadcrum*/

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: ""
}
.breadcrumb-arrow li span {
    padding: 0 10px
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}
.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}
.breadcrumb-arrow li span {
    color: #434a54
}

.register-sub
{text-align: center;}

.register-sub img
{display: inline-block;}

.email-col {
    margin: 10px auto 0;
    max-width: 100%;
    width: 450px;
}
.email-col input
{margin-bottom: 20px;}

.estimate-main{}

.estimate_input_block dt {
    float: left;
    width: 15%;
    padding-top: 12px;
    font-weight: 700;
}

.dd__form-select:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 0;
    height: 0;
    margin: -2px 0 0 0;
    border-top: 5px solid #717171;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dd__form-select {
    position: relative;
    display: inline-block;
}

.dd__form-select select {
    color: #717171;
    height: 45px;
    font-size: 100%;
    padding: 12px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
    background: #fff;
    width: 240px;
}
.input-text {
    color: #717171;
    height: 45px;
    font-size: 100%;
    padding: 12px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    background: #fff;
}


/*my page*/

.user-address {
    padding: 12px;
    margin-bottom: 24px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.user-address h3
{

    line-height: 24px;
    border-bottom: 1px solid #ddd;}

    .user-address h3 p
    { font-size: 18px;
        color: #000000;
    border-left: 3px solid #8bc9e0;
    margin-bottom: 6px;
    padding-left: 6px;}

    .my_address-details p
    {font-size: 16px;}

    .my_address-details dl {
    margin: 0 0 12px 2.5%;
}
.lead {
    width: 95%;
    margin: 0 auto 12px;font-size: 16px;
}
/*timeline*/
.user-address .timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 36px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;color: #b3b3b3;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

.user-address h5
{text-align: center;
    font-size: 25px;
    line-height: 1.2;
    font-weight: normal;
    color: #00b6f2;
    margin: 36px 0 12px;}

    .infog {
    padding: 12px;
    margin-top: 64px;display: block;
    border-top: 1px dashed #ddd;

}


.linkTo__right {
    text-align: right;
    margin-bottom: 12px;
    word-wrap: break-word;
}

.linkTo__right p:before {
    font-family: 'FontAwesome';
    content: "\f0c1";
    margin-right: 4px;
}


/*new section*/

.steps p
{font-size: 20px;}

.service-feature-box .service-media {
    position: relative;
    overflow: hidden;
}

.service-feature-box .service-media img {
    width: 100%;
    transition: all 2s ease-in-out 0s;
    -webkit-transition: all 2s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    -o-transition: all 2s ease-in-out 0s;
    opacity: 1;
}
.service-feature-box .service-media:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    opacity: 0.7;
}
.service-feature-box .service-media a {
    background-color: #1b2936;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
}

.service-feature-box .service-media span {
    color: #fff;
    padding-left: 20px;
    font-weight: 600;
}

.service-feature-box .service-media:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    opacity: 0.7;
}

.service-feature-box .service-media span {
    color: #fff;
    padding-left: 20px;
    font-weight: 600;
}

.service-feature-box .service-media i {
   /* background-color: #2f3840;*/
    padding: 5px 10px;
    font-size: 10px;
    line-height: 22px;
    margin-left: 20px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.service-feature-box .service-media:hover a,.service-feature-box .service-media i:hover,a.read-more02:hover{    background-color: #006db7;}

.custom-heading h4
{text-transform: uppercase;
font-size: 22px;}

/*.custom-heading::after {
    position: absolute;
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    left: 0;
    top: 20px;background-color: blue;

}*/

.service-body
{position: relative;    background-color: #fff;
    padding: 20px 20px 20px 0;}

#featured-section {
    background: url(../images/offer-bg.jpg) no-repeat fixed top center / cover;
    padding: 50px 0 50px 0;
    position: relative;
}

#featured-section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    content: '';
}

.ftd-item figcaption {
        background: rgba(221, 25, 0, 0.8) none repeat ;
    height: 347px;
    overflow: hidden;
    padding: 10px 10px;
    color: #fff;
}

.ftd-item figcaption h3 {
    color: #fff;
    line-height: 34px;
    margin-bottom: 15px;
    font-size: 21px;
}

.ftd-item figcaption p {
    color: #fff;
     font-size: 18px;
}

.ftd-item {
    margin: 0 auto;
    width: 68%;
}
.ftd-item figure {
    float: left;
}

#myCarousel-re
{margin: 20px 0px;}

#featured-section h2
{color: #ffffff;
font-size: 30px;}

.footer_link_box a
{color: #ffffff;
line-height: 30px;}

.footer_link_common_wrapper{

    position: relative;
     background-image: url(../images/footer-bkg.png); 
    background-repeat: no-repeat;
    background-size: cover;    background-color: #25272e;
}

.sprites-cards
{background: rgba(255,255,255,1);
padding: 10px; }


/*sign up section*/

.we-are-best {
  position: relative;
  background: #f7f7f7;
}
.we-are-best:after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  width: 54%;
  height: 100%;
  background: #202e31;
  z-index: 2;
  right: -5%;
  transform: skewX(-15deg);
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
}
.we-are-best .auto-container {
  position: relative;
}
.we-are-best .image-side {
  position: relative;
  z-index: 1;
}
.we-are-best .text-side {
  position: relative;
  color: #fff;
  z-index: 5;
  padding-top: 70px;
  text-align: center;
 /* padding-left: 50px;*/
}
.we-are-best .text-side h2 {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin: 10px 0px 25px;
}
.we-are-best .text-side h2 span {
  color: #ffc13b;
}
.we-are-best .text-side .text {
  position: relative;
  margin-bottom: 25px;
  font-size: 15px;
  color: #fff;
}
.we-are-best .text-side .primary-btn .icon {
  font-size: 18px;
}

body
{overflow-x: hidden; }


.youcancount
{padding: 40px 0px;}

/*owl */
i.fa.fa-chevron-left ,i.fa.fa-chevron-right
{color:#ffffff !important;
font-weight: bold;}
/* Styling Next and Prev buttons */

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */



/* preloading images */

.owl-prev:hover , .owl-next:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    height: 25px;
    width: 25px;
    line-height: 26px;
/*    padding: 3px 10px;*/
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
     background-color: rgba(134, 151, 145, 0.6);
   }
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 17px;
  top: 41%;
 

}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right:17px;
  top: 41%;
   
}

.owl-next ,.owl-prev
{background-image: none !important;}

.date-news
{margin-right: 10px;
    padding: 1px;
    background-color: #CEEDF9;
    font-weight: 100;}

    .newsa a
    {clear: both;display: block;
        font-size: 16px;
        margin-bottom: 10px;
        color: #1288c1;}

.panel-body h6
{font-size: 16px;
font-weight: bold;
color: #000000;}

.red
{color:red;}

.panel-body a
{    text-align: left;
    font-size: 14px;
    color: #666;}

    .review
    {padding: 10px;}

    .review i 
    {padding-right: 10px;}

    .review a
    {color: #666;margin-bottom: 20px;padding-left: 30px;}

.maintab
{padding: 40px 0px;}

.logout
{margin-left: 20px;}

.rightusermenu .username
{font-weight: bold;
font-size: 20px;
vertical-align: middle;}

.rightusermenu .username i
{padding-right:10px;}

.breadcrumb
{margin-top: 20px;}

.newsa .panel
{background-color: #e8f4f9;}


.newsa .panel:hover
{background-color: #ddd;}

.notic
{color: #d9534f !important;}

.verification-main
{padding:40px 0px;}
.verification-main h4
{font-size: 24px;
    color: #666;}

/********************************How IT Works Page starts here***************************/
.howItWorks
{ padding:4rem 0;
background-color: #f9f9f9;}

.howItWorks h2
{ margin-bottom:1rem;}

.howItWorks ul.nav-tabs
{ text-align:center;
margin-top:2rem;}

.howItWorks ul.nav-tabs li
{ display:inline-block;
float:none;}
.howItWorks ul.nav-tabs li a
{ background:#eeeeee;}
.howItWorks ul.nav-tabs > li.active > a, .howItWorks ul.nav-tabs > li.active > a:focus, .howItWorks ul.nav-tabs > li.active > a:hover
{ background:#f9f9f9;
border-color:#dddddd;
border-bottom-color:#f9f9f9;
color:#666;}

.howItWorks .timeline {
    position: relative;
    padding: 40px 0 0 0; 
    margin-top: 40px;
}

.timeline-icon {
    color: #ccc;
    display: block;
    font-size: 40px;
    left: 50%;
    line-height: 1;
    margin-left: -13px;
    position: absolute;
    top: -30px;
}

.howItWorks .timeline .timeline-item {
    padding: 0 15px;
}


.howItWorks .timeline-date-label:after {
    background-color: #f3f3f3;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    z-index: -1;
}

/* Medium desktop devices and tablets */
@media (min-width:768px) and (max-width:1199px) {
.howItWorks .timeline .blogpost footer {
    font-size: 12px;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
.howItWorks .timeline .blogpost {
    margin-bottom: 0;
}
.howItWorks .timeline:before {
    background:url(../images/howItworks/dotted-line.png) repeat-y center top;
    width: 2px;
    height: 90%;
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    margin-left: -1px;
    top: 0;
}
.howItWorks .timeline .timeline-item {
    position: relative;
    width: 50%;
    padding-left: 0;
    padding-right: 40px;
    margin-bottom: 120px;
    float: left;
    clear: left;
    z-index: 1;
}
.howItWorks .timeline .timeline-item.pull-right {
    position: relative;
    width: 50%;

    padding-left: 40px;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 120px;
    float: right;
    clear: right;
}

.howItWorks .cirlce-cap:before {
    content: "";
    position: absolute;
    background-color: #fff;
    border: 3px solid #79b445;
    height: 20px;
    width: 20px;
    margin-top: -9px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    top: 50%;
    right: -10px;
}
.howItWorks .timeline .timeline-item.pull-right:after {
    right: auto;
    left: 10px;
}
.howItWorks .timeline .timeline-item.pull-right:before {
    left: -10px;
}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
.howItWorks .timeline .timeline-item.pull-right {
    float: none !important;
  }
}

.howItWorks article.blogpost
{ background: #fff;
    box-shadow: 2.5px 4.33px 2px 0px rgba( 0, 0, 0 ,0.1);
padding: 25px;
/*overflow:hidden;*/
position: relative;
border: 1px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    margin: 0 0 4.2rem;}


.howItWorks article.blogpost:before
{background: url(../images/how-left.png) no-repeat left center;
    content: "";
    height: 40px;
    width:35px;
    top: 50%;
    right: -29px;
    margin-top: -20px;
    position: absolute;}

.howItWorks .right-hand
{box-shadow: -2.5px 4.33px 2px 0px rgba( 0, 0, 0 ,0.1) !important;
}

.howItWorks article.blogpost h2
{ color: #2e2e2e;
    font-size: 25px;
margin:0 0 10px;}

.howItWorks article.blogpost p
{ font-size: 18px;
line-height: 20px;
font-weight: 300;
color: #848484;margin-bottom: 20px;}

.howItWorks .right-hand:before {
    background: url(../images/how-right.png) no-repeat left center !important;
    content: "";
    height: 40px;
    width:35px;
    top: 50%;
    left: -31px !important;
    margin-top: -20px;
    position: absolute;
}


.questions
{ padding: 0;
overflow: hidden;
position: relative;}

.questions:before{
border-right: 10rem solid rgba(0, 0, 0, 0);
    border-top: 26rem solid #038aca;
    content: "";
    height: 100%;
    width: 13%;
    position: absolute;
    left: 0;

}

span.question-mark
{ background: rgba( 250, 250, 250,0.91 );
font-size: 1.5rem;
color: #2e2e2e;
text-align: center;
padding:0.5rem 2rem;
float:left;
margin-top: 2rem;
z-index: 9999;
line-height: 2.5rem;}

.questions  h2
{ margin-top: 2rem;
    text-align: right;
    color: #3c3c44;
    text-transform: none;
font-size: 1.7rem;
margin-bottom:1rem;
font-weight:600;}

.questions .btn-block
{ margin:0 0 4rem;}

.subfix
{position: absolute;
bottom: 0;
left: 0;
right: 0;
text-align: center;
width: 30%;
margin:0 auto;
padding:10px 40px;

font-size: 20px;
}

.validid li,.invalidid li
{float: left;
margin:5px;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid rgba(238, 238, 238, 0.5);
    color: #2e2e2e !important;
    padding: 10px;
    border-radius: 5px;

    color: #ffffff;}

.validid li::before {
    color: rgb(151, 151, 151);
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 12px;
    color:green;
    margin-right: 12px;
}

.invalidid li::before {
    color: rgb(151, 151, 151);
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 12px;
    color:red;
    margin-right: 12px;
}

.rm
{color: #e5563c;font-weight: bold;}


.formbtn
{display: block;
text-align: center;
width: 30%;
margin:20px auto;
padding:10px 40px;

font-size: 20px;
}
.form-horizontal .form-group input
{
    color: #717171;
    height: 36px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    background: #fff;}

.form-horizontal .form-group
{font-size: 16px;
    border: 1px solid #f3f3f3;
    margin-bottom: 0;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

span.required
{    display: inline-block;
    background: #FFF2D1;
    padding: 2px 8px;
    font-size: 10px;
    color: #fff;
    margin-left: 6px;
    background: #FF5B38;
    border-radius: 3px;}

.mtop
{margin-top: 20px;}

.proxy-main h4
{text-transform: uppercase;
font-size: 20px;
padding: 20px 0px;}

.proxy-main
{background-color: #ffffff;}


.sub-address{
    padding: 12px;
    margin-bottom: 24px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-address table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    color: #717171;
    background-color: #ffffff;
}
.user-address table thead
{
    background-color: #3bafda;
    color: #ffffff;
}

.user-address .address_attention {
    margin: 10px auto 0;
    padding-left: 0;
    padding-top: 5px;
    font-size: 14px;
    border-top: 1px dashed #b3b3b3;
    color: red;
}

.img-sample
{width: 50%;
margin:0 auto;
text-align: center;}

.tab-content .user-address
{background-color: #f9f9f9;}

.address-main .nav-tabs{border-bottom:none;}

 .address-main .nav-tabs>li.active>a, .address-main .nav-tabs>li.active>a:focus, .address-main .nav-tabs>li.active>a:hover
{background-color: #f9f9f9;}


/*usage*/

.usage-box
{margin: 20px 0px;}
.usage-box .icon-box{
    display: inline-block;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #b9babc;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 27px 30px 26px 30px;
    line-height: 1.3;
    transition: all 100ms ease-out;min-height: 150px;
}

.usage-box  .icon-box .fa{
    float: right;
    font-size: 45px;
    color: #b9babc;
    padding: 10px 0 10px 10px;
    transition: all 100ms ease-out;
}

.usage-box .icon-box__subtitle {

 margin:10px 0px;
    font-size: 16px;color: #000000;
}

.usage-box .icon-box__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;color: #000000;
}
.usage-box .icon-box:hover {
    box-shadow: 0 6px 9px rgba(0,0,0,0.1);
    border-bottom: 2px solid #4ab9cf;
    text-decoration: none;
}


.svg-main svg
{height: 100px;
width: 100px;
    padding: 10px 0 10px 10px;
    transition: all 100ms ease-out;
float: right;}
.svg-main img
{float: right;}

.thankyou
{    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 20px;}

.thank-main
{position: relative;}

.zeroauto
{margin: 0 auto;}
.guide-foot
{margin-bottom: 30px;}

.newprice table tr th ,.services table tr th
{background-color:#f5f5f5; }

.services
{margin-bottom: 20px;}

/*slider*/
.info h2
{font-size: 40px;
text-transform: uppercase;
font-weight: 900;

color: #ffffff;}

.info p
{font-size: 20px;
/*background: rgba(0,0,0,0.5);*/

color: #ffffff;
line-height: 32px;
padding: 10px;}

h1,h2,h3,h4,h5
{font-family: 'Raleway', sans-serif;
}

.info
{background: rgba(0, 0, 0, 0.4) none repeat;
padding: 20px;
overflow: hidden;}
